@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --blog-color1: #8B5CF6;
    --blog-color2: #F25722;
    --blog-color3: #2A7576;
    --color-1: rgba(236, 72, 153, 1);
    --blog-bg-color1: rgba(252, 231, 243, 1);
    --blog-bg-color2: rgba(255, 244, 230, 1);
    --blog-bg-color3: rgba(187, 243, 247, 1);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*="body"] {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 156px;
}
[class*="boost__section"] {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 0;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
a, a:visited {
  text-decoration: none; }
ul, ol, li {
    list-style: none;
}
ul li {
  list-style: none; }
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
body, p, div, span {
  user-select: none;
}
body {
    background-color: #fff;
    font-weight: 500;
    color: #121127;
    font-family: "Poppins", sans-serif;
}
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0; }
button {
    background-color: none;
    border: 0;
    cursor: pointer;
    background-color: inherit;
}